%div{class: "uk-position-center"}
  %div{class: "uk-child-width-1-1", "uk-grid":true}
    %div
      %div{class: "uk-card uk-card-small uk-card-default"} 
        %div{class: "uk-card-header"}
          %h3{class:"uk-card-title"} RottenPotatoes
        %div{class: "uk-card-body"}
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        %div{class: "uk-card-footer"}
          =link_to("Login with Facebook", '/auth/facebook', class:"uk-button uk-button-text") 
          %br
          =link_to("Login with Github", '/auth/github', class:"uk-button uk-button-text")          
          %br          
          =link_to("RottenPotatoes movie", movies_path, class:"uk-button uk-button-text")