%h1 Search TMDb for a movie

= form_tag :action => 'search_tmdb' do

  %label{:for => 'search_terms'} Search Terms
  = text_field_tag 'search_terms'
  = submit_tag 'Search TMDb'

%h1 All movies
%a{class: "uk-button uk-button-primary", href: "movies/new"} Add new movie

%table{class: "uk-table uk-table-divider", :id => "movies"}
  %thead
    %tr
      %th 
      %th Movie Title
      %th Rating
      %th Release Date
      %th More Info
  %tbody
    = render(partial: "movies_table", locals: {movies: @movies})