%h2 Create New Movie

= form_tag movies_path, :method => :post do
  =render(:partial => "movie_form")
  = submit_tag 'Save Changes', :class => "uk-button uk-button-primary uk-width-1-6"
  = button_to('Cancel', movies_path, :method => :get, class: "uk-button uk-button-default uk-width-1-6") 